p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  h2.destination {
    font-family: cursive;
  }
  
  h5 {
    color: rebeccapurple !important;
  }
  
  h5,
  p {
    font-family: Georgia;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive {
    font-family: cursive;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .description h5 {
    color: teal;
  }